body {
	background-image: url('main.jpg');
	background-size: cover;
}
h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
    color: #ddd;
}
p{
    color: #ddd;
}

#container {
	margin: 0 auto;
	width: 500px;
}

#input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

#add-button {
    text-align: center;
	width: 28%;
	padding: 10px;
	background-color: #700000;
	color: rgb(255, 255, 255);
	font-size: 16px;
    box-shadow: #ffffff;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    border-radius: 20px;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
}

li button {
	background-color: #1a1427;
	color: rgb(155, 153, 153);
	font-size: 16px;
	box-shadow: black;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
li.completed {
	background-color: #6bf7b6;
}

li.completed button {
	background-color: #0a0a0a;
}

li.editing input[type="text"] {
	display: block;
	width: 70%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
}

li.editing button {
	background-color: #030303;
}
